GEMINI_API_KEY="API key"
GROQ_API_KEY="API key"
OPENROUTER_API_KEY="API key"
SECRET_KEY="YOUR SECRET KEY"
GROQ_LLAMA_MODEL=llama-3.3-70b-versatile
GROQ_GPT_MODEL=openai/gpt-oss-20b
OPENROUTER_GEMMA_MODEL=google/gemma-4-31b-it:free
OPENROUTER_JUDGE_MODEL=qwen/qwen3-32b
DATABASE_URL="DATABASE URL"